<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Column</th>
      <th scope="col">Data type</th>
      <th scope="col">Primary key</th>
      <th scope="col">Nullable</th>
    </tr>
  </thead>
  <tbody>
    <% columns.forEach((col, index) => { %>
      <tr>
        <td><%= index+1%></td>
        <td>
          <span class="fw-bold">
            <%= col.name%>
          </span>
        </td>
        <td><%=col.type%></td>
        <td><%=col.pk? "True" : ""%></td>
        <td><%=col.null? "True" : ""%></td>
        <td></td>
      </tr>
    <% }); %>
  </tbody>
</table>
