<%- include("_header"); %>

<div class="container-md">
  <div class="row mt-4">
    <%- include("_tables"); %>
    <div class="col-10">
      <%- include("_tab", {tab: "structure"}); %>
      <form action="/tables" method="POST">
        <div class="mb-3">
          <label for="tableName" class="form-label">Table name</label>
          <input type="text" class="form-control" id="tableName" name="tableName" placeholder="" autofocus>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success mr-2"><%="Create"%></button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("_footer"); %>
