<%- include('_header'); %>
<h1>SQLite Web</h1>

<% for (const db of _dbs) { %>
  
  <h2>
    <a href="/<%=db.dbName%>"><%= db.dbName %></a>
  </h2>

  <% if (db.tables.length === 0)  {%>
    <p class="message">No tables.</p>
  <% } else { %>
    <p>
      <strong><%= db.rows %></strong> rows in <strong><%= db.tables.length%></strong> tables.
    </p>

    <p>
      <% for (let i=0; i<db.tables.length; i++) { %>
        <a href="/<%=db.dbName%>/<%= db.tables[i]%>/rows"><%=db.tables[i]%></a><% if (i < db.tables.length-1) { %>,<%}%>
      <% } %>
    </p>
  <% } %>

<% } %>

<%- include('_footer'); %>
