<%- include('_header'); %>

<h1>Table: <%=tableName%></h1>

<div class="tabbed">
  <ul class="tabs">
	<li class="tab checked">
      <a href="/<%=dbName%>/<%=tableName%>/rows">Content</a>
    </li>
	<li class="tab"><a href="/<%=dbName%>/<%=tableName%>/structure">Show structure</a></li>
    <li class="tab"><a href="/<%=dbName%>/<%=tableName%>/insert-row">New item</a></li>
  </ul>
</div>

<section class="m">
  <h2><%=tableName%>: <%=pk%></h2>
  <div class="overflow-wrapper">
    <table>
      <tbody>
        <% for (const [name, value] of Object.entries(row)) { %>
          <tr>
            <th><%=name%></th>
            <td><%=value%></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>

<section class="m">
  <a class="pure-button-error pure-button" href="/<%=dbName%>/<%=tableName%>/<%=pk%>/edit">
    Delete
  </a>
  <a class="pure-button pure-button-primary" href="/<%=dbName%>/<%=tableName%>/<%=pk%>/edit">
    Edit
  </a>
</section>
