<%- include("_header"); %>
<div class="container-md">
  <div class="row mt-4">
    <%- include("_tables"); %>
    <div class="col-10">
      <%- include("_tab", {tab: "content"}); %>

      <div class="clearfix mb-4">
        <h4 class="float-start">Select: <%=tableName%></h4>

        <a class="float-end btn btn-primary"
           href="/add-row?tableName=<%=tableName%>"
           role="button">
          Insert row</a>
      </div>

      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>#</th>
            <% columns.forEach((col) => { %>
              <th scope="col">
                <%=  col.name %>
              </th>
            <% }); %>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach((row, index) => { %>
            <tr>
              <td><%=index+1%></td>
              <% columns.forEach((col) => { %>

                <td scope="col">
                  <%=  row[col.name] %>
                </td>
              <% }); %>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("_footer"); %>
